{% extends 'base.html' %}

{% block title%}
	abouts-{{block.super}}
{%endblock%}

{% block content%}

<ul class="list-group list-group-flush">
    <li class="list-group-item"><h6>Окрас животного:</h6>{{animals.color}}</li>
    <li class="list-group-item"><h6>Вес животного:</h6>{{animals.weight}}</li>
    <li class="list-group-item"><h6>Особые приметы:</h6>{{animals.PhotoUrl}}</li>
    <li class="list-group-item"><h6>Вид животного:</h6>{{animals.sort_animal}}</li>
    <li class="list-group-item"><h6>Пол:</h6>{{animals.gender}}</li>
    <li class="list-group-item"><h6>Поведение животного:</h6>{{animals.behavior}}</li>
  </ul>
  <div class="card-body">

  </div>


{%endblock content %}
