{% extends 'base.html' %}

{% block title%}
abouts-{{block.super}}
{%endblock%}

{% block content%}


<div class="card-body" style="margin-left:10px">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{animals.PhotoUrl}}" style="max-weight:400px;max-height:400px;"  class="card-img" alt="...">
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><h6>Окрас животного:</h6>{{animals.color}}</li>
                <li class="list-group-item"><h6>Вес животного:</h6>{{animals.weight}}</li>
                <li class="list-group-item"><h6>Особые приметы:</h6>{{animals.special_signs}}</li>
                <li class="list-group-item"><h6>Вид животного:</h6>{{animals.sort_animal}}</li>
                <li class="list-group-item"><h6>Пол:</h6>{{animals.gender}}</li>
                <li class="list-group-item"><h6>Поведение животного:</h6>{{animals.behavior}}</li>
            </ul>
        </div>
    </div>
</div>

<!--{{animals.get_absolute_url}}-->
<p>-------------АКТ ПРИЕМА_ПЕРЕДАЧИ----------------------------</p>
    {%for animal in animals.animal_transfer_ID.all%}
	<ul class="list-group list-group-flush">
                <li class="list-group-item"><h6>Статус животного:</h6>{{animal.status_id}}</li>
                <li class="list-group-item"><h6>№ заявки на отлов:</h6>{{animal.request_id}}</li>
                <li class="list-group-item"><h6>Составитель заявки:</h6>{{animal.user_id}}</li>
                <li class="list-group-item"><h6>Дата передачи в приют:</h6>{{animal.date_of_transfer}}</li>
                <li class="list-group-item"><h6>Описание:</h6>{{animal.description}}</li>
                <li class="list-group-item"><h6>Чип животного:</h6>{{animal.animals_id}}</li>

            </ul>

    {%endfor%}
<p>----------------О ПРИЮТЕ-------------------------</p>
    {%for animal in animals.animal_shelter_ID.all%}
	<ul class="list-group list-group-flush">
                <li class="list-group-item"><h6>Название приюта:</h6>{{animal.name}}</li>
                <li class="list-group-item"><h6>Адрес приюта:</h6>{{animal.adres}}</li>
                <li class="list-group-item"><h6>Номер телефона:</h6>{{animal.phone}}</li>

            </ul>
        </div>
    {%endfor%}

 </div>
        {%endblock content %}

