

{%endfor%}

             <ul class="list-group list-group-flush">
                <li class="list-group-item"><h6>Животное:</h6>{{transfer.animal_ID.all}}</li>
                <li class="list-group-item"><h6>Статус:</h6>{{transfer.status_id}}</li>
                <li class="list-group-item"><h6>№ Заявки:</h6>{{transfer.request_id}}</li>
                <li class="list-group-item"><h6>Ловец:</h6>{{transfer.user_id}}</li>
                <li class="list-group-item"><h6>Дата передачи животного:</h6>{{transfer.date_of_transfer}}</li>
                <li class="list-group-item"><h6>Описание:</h6>{{transfer.description}}</li>
            </ul>
