<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<!--	тупа шобы было-->
	<header>
		<nav>
			<input type="checkbox" id="checkbox_menu">
			<label for ="checkbox_menu">
				<ul >
					<li><a class="logo" href="#">кек</a></li>
					<li><a href="#">кек</a></li>
					<li><a href="#">кек</a></li>
					<li><a href="#">кек</a></li>
					<li><a href="#">кек</a></li>
					<li><a  href="#">кек</a></li>
					<li><a href="#">кек</a></li>
					<li><a href="#">кек</a></li>
				</ul>
				<span class="toggle">☰</span>
			</label>
		</nav>
	</header>

	<script src="scripts.js"></script>
</body>
</html>