{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block title %}
		MySite
	{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>
<body>
	<header>
		<nav>
			<input type="checkbox" id="checkbox_menu">
			<label for ="checkbox_menu">
				<ul class="menu touch">
					<li><a class="logo" href="#">главная</a></li>
					<li><a href="#">о нас</a></li>
					<li><a href="#">новости</a></li>
					<li><a href="#">видео</a></li>
					<li><a href="#">питомцы</a></li>
					<li><a class="contacts" href="#">помощь</a></li>
					<li><a href="#">котнакты</a></li>
					<li><a href="#">пожертвовать</a></li>
					<li><a href="#">войти</a></li>
				</ul>
				<span class="toggle">☰</span>
			</label>
		</nav>
	</header>
        {%block content%}
		    Thete is no any content
		{%endblock%}
<!--	<script src="scripts.js"></script>-->
</body>
</html>