{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Roga and Copita
        {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
<div class="backgroundview"></div>
<header>
    <nav>
        <div class="header">
            <ul class="menu touch">
                <li><a class="logo" href="#">главная</a></li>
                <li><a href="#">о нас</a></li>
                <li><a href="#">новости</a></li>
                <li><a href="add_request/">подать заявку</a></li>
                <li><a href="check_list/">список заявок</a></li>
                <li><a href="#">питомцы</a></li>
                <li><a class="contacts" href="#">помощь</a></li>
                <li><a href="#">котнакты</a></li>
                <li><a href="#">пожертвовать</a></li>
                <li><a href="/accounts/login/">войти</a></li>
            </ul>
            <span class="toggle">☰</span>
        </div>
    </nav>
</header>
{%block content%}
Thete is no any content
{%endblock%}

<!--	<script src="scripts.js"></script>-->
</body>
</html>