{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Roga and Copita
        {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
<div class="backgroundview"></div>

<header>
    <nav>
        <div class="header">
            <ul class="menu_touch">
                <a class="logo" href="/"><img class="logoimg" href="/" src="{% static 'img/logo.png' %}"></a>
<!-- "../../static/img/logo.png -->
                <li><a href="{% url 'MainApp:about' %}">о нас</a></li>
                <li><a href="{% url 'MainApp:news' %}">события</a></li>
                <li><a href="{% url 'MainApp:add_request' %}">подать заявку</a></li>
                <li><a href="{% url 'MainApp:check_list' %}">животные в приюте</a></li>
                <li><a href="{% url 'MainApp:request_all' %}">список заявок</a></li>
                <li><a href="{% url 'MainApp:add_animals' %}">Зарегистрировать животное</a></li>
                <li><a href="{% url 'help' %}">FAQ</a></li>
                <li><a href="{% url 'contacts' %}">Наши партнеры</a></li>
                <li><a href="{% url 'donate' %}">Поддержать</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="/accounts/logout/">выйти</a></li>
                <li><a href="{% url 'profile' %}">профиль</a></li>
                {% else %}
                <li><a href="/accounts/login/">войти</a></li>
                {% endif %}
            </ul>
            <span class="toggle">☰</span>
        </div>
    </nav>
</header>
<div class="content">
{% block content %}
Thete is no any content
{% endblock %}

<!--    <script src="scripts.js"></script>-->
</div>>
</body>
</html>