{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Roga and Copita
        {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
<div class="backgroundview"></div>
<header>
    <nav>
        <div class="header">
            <ul class="menu_touch">
                <li><a class="logo" href="/"><img src="{% static 'img/logo.png' %}"></a></li>
<!-- "../../static/img/logo.png -->
                <li><a href="{% url 'MainApp:about' %}">о нас</a></li>
                <li><a href="{% url 'MainApp:news' %}">новости</a></li>
                <li><a href="{% url 'MainApp:add_request' %}">подать заявку</a></li>
                <li><a href="{% url 'MainApp:check_list' %}">список заявок</a></li>
                <li><a href="{% url 'MainApp:pets' %}">питомцы</a></li>
                <li><a class="contacts" href="{% url 'help' %}">помощь</a></li>
                <li><a href="{% url 'contacts' %}">котнакты</a></li>
                <li><a href="{% url 'donate' %}">пожертвовать</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="/accounts/logout/">выйти</a></li>
                <li><a href="{% url 'profile' %}"></a></li>
                {% else %}
                <li><a href="/accounts/login/">войти</a></li>
                {% endif %}
            </ul>
            <span class="toggle">☰</span>
        </div>
    </nav>
</header>
{% block content %}
Thete is no any content
{% endblock %}

<!--    <script src="scripts.js"></script>-->
</body>
</html>