{% extends "base.html" %}
<div class="content">
{% block content %}
<style type="text/css">
	p {
		padding-left: 70px;
	}
	.don li {list-style: none;
		text-indent: -1em;}
	.don li::before { content: '\25ba';
		padding-right: 5px;
		padding-left: 150px;
		color :#c9920f;
	 }


</style>
<div class="don">	
<br><h1><p>Оказать поддержку приютам</p></h1><br>
<p>Уход за животными, их содержание, кормление, оказание медицинских услуг требуют большого количества времени и средств. Вы можете оказать поддержку приютам, закупим и доставив необходимые им товары. Приютам всегда требуются:</p><br>
<p>Продукты:</p><br>
<ul>
  <li>Мясные продукты</li>
  <li>Рыбные продукты</li>
  <li>Кисломолочные продукты, творог</li>
  <li>Овощи</li>
  <li>Хлеб</li>
  <li>Сухие корма и консервы</li>
</ul>
<br>
<p>Медицинские препараты:</p><br>
<ul>
  <li>Димедрол 1% 1мл амп.</li>
  <li>Но-шпа 40мг амп.</li>
  <li>Анальгин 50% 2мл амп.</li>
  <li>Энтеросгель</li>
  <li>Софрадекс капли</li>
  <li>Витамины В1, В6, В12 амп.</li>
</ul><br>
<p>Ветеринарные препараты:</p><br>
<ul>
  <li>Фармазин</li>
  <li>Микродерм</li>
  <li>Глобкан</li>
  <li>Тетравит</li>
  <li>Протел</li>
  <li>Адвантикс</li>
</ul><br>
<p>Хозяйственные принадлежности:</p><br>
<ul>
  <li>Перчатки</li>
  <li>Ведра, совки</li>
  <li>Кастрюли для варки каш</li>
  <li>Миски для собак и кошек</li>
  <li>Лопата совковая</li>
  <li>Мешки для мусора</li>
</ul><br>
<p>Это основные товары, в которых нуждаются приюты, но это далеко не полный список. Свяжитесь с приютом, договоритесь о времени встречи и уточните, что именно необходимо их пушистым друзьям на данный момент.</p>

</div>
{% endblock content %}

</div>