{% extends "base.html" %}
{% block content %}
<style type="text/css">
	p {text-indent: 30px;}
	.content {
  top: 15%;
  left: 50%;
  margin-left: -400px;
  position: absolute;
  width: 700px;
  background-color: white;
  padding:50px;
	}
</style>
<div class="content">
<br><h1><p>Ответы на популярные вопросы</p></h1>
<br><p><b>Я увидел на улице дикую\агрессивную\больную собаку (или любое другое животное). Как мне поступить?</b></p>
<br><p>Постарайтесь сфотографировать её и запомнить место её обитания. Перейдите на вкладку «Нашел животное», заполните все поля, прикрепите фотографию и укажите координаты на карте. Помните, чем корректнее данные, тем быстрее получится оказать помощь животному.</p>
<br><p><b>Что происходит с животными после их поимки?</b></p>
<br><p>Животное отвозят в приют, где на него заводят некий паспорт и отправляют на курс реабилитации. Затем животное остается в приюте в ожидании нового или прежнего хозяина. По истечении срока в 28 дней, животное снабжают чипом и отпускают на прежнее место обитания.</p>
<br><p><b>Могу ли я оказать материальную поддержку приютам?</b></p>
<br><p>Вы можете оказать материальную помощь в виде корма, медикаментов, инструментов. Свяжитесь с приютом по телефону и уточните, что в данный момент им необходимо.</p>
<br><p><b>У меня не так много денег, но я хочу помочь. Как мне быть?</b></p>
<br><p>Ничего страшного, главное – желание. Вы можете выступить в роли волонтера, оказывая помощь в кормлении, уборке, уходе за животными.</p>
<br><p><b>Хочу стать волонтером, какие документы для этого нужны?</b></p>
<br><p>Никаких. Найдите единомышленников в соц. Сетях или в чате на нашем сайте, согласуйте время с приютом и вперед, совершать добрые дела. Так же вы можете принять участие в планируемом событии.</p>
<br><p><b>Зачем тратить время и средства на этих собак? Почему бы просто не избавиться от них?</b></p>
<br><p>С 1 января 2020 года в силу вступили отдельные положения федерального закона «Об ответственном обращении с животными», принятом еще в конце 2018 года. Суть нового закона в том, что теперь бездомных четвероногих категорически запрещено умерщвлять после отлова. Их надлежит помещать в специальные приюты, стерилизовать, прививать, лечить, маркировать и возвращать обратно на улицу.</p>



</div>
{% endblock content %}
