{% extends "base.html" %}
{% block content %}
{% load static %}
{% if action == 'edit' %}
    <h1>Измените данные профиля</h1>
    <form method="post" action="">
        <input type="text" name="firstname" placeholder={{ user.first_name }}>
        <input type="text" name="lastname" placeholder={{ user.last_name }}>
        <input type="submit" value="Готово">
        {% csrf_token %}
    </form>
{% else %}
    Имя: {{ user.first_name }}
    <br>Фамилия: {{ user.last_name }}<br>

    {% if action == 'success' %}
    {% endif %}
    <br>

    Мои достижения:<br><br>
    <img src="{% static 'achiv/1.png' %}">
    <img src="{% static 'achiv/2.png' %}">
    <img src="{% static 'achiv/3.png' %}">
    <img src="{% static 'achiv/4.png' %}">
    <div class="row">

{% endif %}
</div>
{% endblock content %}
