div
{background-color: rgba(220, 94, 23, 0.6);
	display: block;
	font-family: "PT Sans","Helvetica","Arial",sans-serif;
    font-size: 16px;
    line-height: 1.42857;
    color: #333;
    
    box-sizing: border-box;
}
.catalog-items-list.view-simple .catalog-item {
    width: 100%;
}
.catalog-items-list .catalog-item {
    background: #f2f2f2;
    margin-bottom: 8px;
}