.list_item
{

background: linear-gradient(91.28deg, rgba(255, 255, 255, 0.7) -4.53%, rgba(224, 109, 32, 0.55) 99.28%);

opacity: 1;
margin-left: 5%;
margin-right:10%;
width: 90%;
height: 200px;
font-family: "PT Sans","Helvetica","Arial",sans-serif;
font-size: 16px;
line-height: 1.42857;
color: #333;    
box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
border-radius: 30px;
box-sizing: border-box;
margin-top:20px;
}
.map_click
{
	margin-left:42%;
	width: 15%;
	height: 25%;
	margin-bottom: 0%;
	margin-top:-5%; 
	opacity: 80%;
}
.animal_photo
{
	width: 20%;
	height: 20%;
	border:1px;
	border-color: #000000;
}