*{
	padding: 0;
	margin: 0;
	font-family: 'Nunito',sans-serif;
}
p {text-indent: 30px;}
.logo
{
	margin-top:15px;
	width: 100px;
	height: 100px;
	
}
.logoimg
{
	width: 100%;
	

}
.content {
  top: 15%;
  left: 48%;
  margin-left: -400px;
  position: absolute;
  width: 900px;
  background:#FFFFFF;
  opacity: 1; 
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
    box-sizing: border-box;
  padding:50px;
	}
body,html{
    background:#000000
	overflow-x:hidden;
}
.backgroundview
{
position: absolute;
z-index: -5;
width: 100%;
height: 100%;
background: url(../img/rogaikopita.png),rgba(60, 111, 62, 0.31);
opacity: 25%;
background-blend-mode: luminosity, normal;
scale mode: Tile;
}

.header{
 background: linear-gradient(91.28deg, rgba(255, 255, 255, 1) -4.53%, rgba(255, 255, 255, 1) 44.28%), linear-gradient(237.37deg, rgba(132, 185, 71, 0.7) 55.69%, rgba(255, 255, 255, 0) 100.83%), rgba(165, 171, 160, 0.8);
  opacity: 1; 
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
    box-sizing: border-box;
opacity: 1;
background-blend-mode: luminosity,normal;

}
.menu_touch
{

}
button
{
	margin-left:5%;
	width: 10%;
	height:58px;
	background: rgba(220, 94, 23, 0.6);
box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
border-radius: 30px;
Corner Radius: 17px;



}
nav{
	margin: auto;
	max-width: 80%;
	width: 100%;
}
#checkbox_menu,
.toggle{
	display: none;
}
.menu_touch{
	padding: 0;
	margin: 0;
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
}
.menu_touch li a{
	color: rgba(0, 0, 0, 0.71);
	font-family: Nunito;
font-style: normal;
font-weight: bold; 
	text-decoration: none;
	align-self: center;
	font-size: 20px;
	padding: 15px 15px;
	transition: background .2s linear;
}
.menu_touch li a:hover{
		background: rgba(220, 94, 23, 0.6);
		opacity: 70%;
		border-radius: 3px;
}
.menu_touch li a.logo{
	font-size: 25px;
	margin-right:240px;
}
.menu_touch li a.contacts{
	margin-right: 30px;
}

@media screen and (max-width:765px){
	.toggle{
		clear: both;
		display: block;
		text-align: center;
		font-size: 18px;
		line-height: 40px;
		width:100% ;
		color: #000;
		background: #ffcc01;
		transition: all .1s linear;

	}
	.toggle:hover{
		background: #d3a900;
	}
	#checkbox_menu:checked + label.touch li{
		opacity:1;
		visibility: visible;
		transition: all .7s linear;
	}
	#checkbox_menu + label .menu_touch{
		height: 350px;

	}
	.menu_touch{
		display:flex;
		flex-direction: column;
		justify-content: space-around;
		align-items:center ;
		height:0 ;s
		transition: height .3s linear;

	}
}


